<img id="logo" src="/static/paw.svg" alt="logo">
<nav class="menu">
    <a class="menu__el {{HomeStyle}}" href="/">Home</a>
    <a class="menu__el {{GalleryStyle}}" href="/galleries">Gallery</a>
    <a class="menu__el {{ModelsStyle}}" href="/models">Models</a>
    <a class="menu__el {{AboutStyle}}" href="/about">About Me</a>
</nav>
