<picture>
    <source type="image/avif" srcset="/static/pics/cat.avif">
    <source type="image/webp" srcset="/static/pics/cat.webp">
    <img id="catimg" src="/static/pics/cat.jpeg" alt="cat background image">
</picture>
<div class="text__block">
    <p class="text__pos text__top text3d">Welcome to</p>
    <p class="text__pos text__bottom text3d">Clowder of kitties</p>
</div>